.attraction-card {
    background: white;
    border-radius: 10px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 500px;
    /*height: auto;*/
    min-height: 380px;
    transition: transform 0.2s ease-in-out;
}

.attraction-card:hover {
    transform: translateY(-5px);
}

.attraction-image {
    width: 100%;
    /*height: 227px;*/
    height: 300px;
    object-fit: cover;
}

.attraction-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: 100px;*/
}

.attraction-title {
    font-size: 18px;
    font-weight: 700;
    color: #3d3e48;
    margin-bottom: 10px;
}

.attraction-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attraction-price {
    font-size: 16px;
    font-weight: 700;
    color: #295943;
}

.attraction-days {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #3d3e48;
}

.trip-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.audio-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attraction-actions .audio-button svg {
    width: 2.5rem;   /* adjust to taste */
    height: 2.5rem;  /* keep aspect‐ratio square */
}

.attraction-card-link,
.attraction-card-link * {
    text-decoration: none !important;
}

/*---wishlist----------------------------------------------------*/
.image-wrapper {
    position: relative;
}

.wishlist-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 36px;
    height: 36px;
    background: rgba(255,255,255,0.45); /* light frosted */
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease, transform 0.2s ease;
    /*transition: transform 0.2s ease;*/
}


.wishlist-btn:hover {
    transform: scale(1.2);
}

.wishlist-btn svg {
    pointer-events: none;
    color: #333; /* default heart color */
}

/* ───── liked state ───── */
.wishlist-btn.liked {
    background: #f8f6df;         /* red circle */
    /*background: none;*/
}

.wishlist-btn.liked svg {
    /*color: #980b14;*/
    color: #b81021;
}

